include README.txt
include stdeb.cfg
recursive-include src *.c *.h *.pyx 
recursive-include test *.py
recursive-include doc *
recursive-include pylint *
recursive-include script *
# recursive-exclude pylint *
# recursive-exclude pydoc *
# recursive-exclude epydoc *
recursive-exclude build *
recursive-exclude dist *
recursive-exclude test/tiftest *
recursive-exclude test/testimages *
recursive-exclude fabio.egg-info *
# recursive-exclude debian *

