#List of dependecies used by PIP but also by ReadTheDocs to generate the documentation on the fly
setuptools<60
numpy
cython
lxml>=4.6.3
h5py
hdf5plugin
sphinx
sphinxcontrib-programoutput
sphinx-rtd-theme
