#!/usr/bin/make -f

export DH_VERBOSE=1
export PYBUILD_NAME=fabio
export PYBUILD_SYSTEM=pyproject
#export PYBUILD_BUILD_ARGS := -Csetup-args=-Dcython=cython3

%:
	dh $@ --with python3,sphinxdoc --buildsystem=pybuild

override_dh_clean:
	dh_clean
	rm -f $(patsubst %.pyx,%.c,$(wildcard fabio/ext/*.pyx))
	rm -rf build
	rm -rf *.egg-info

# unactive test for now
override_dh_auto_test:
	PYBUILD_SYSTEM=custom \
	PYBUILD_TEST_ARGS="PYTHONPATH={build_dir} FABIO_TESTIMAGES=testimages {interpreter} ./run_tests.py --installed" dh_auto_test

override_dh_install:
	dh_numpy3

	# move the scripts to right package
	dh_install -p fabio-bin debian/python3-fabio/usr/bin usr/

	# remove all scripts installed by pybuild
	rm -rf debian/python3-fabio/usr/bin

	#Finally install stuff
	dh_install

#override_dh_installman:
#	dh_installman -p fabio-bin build/man/*.1

override_dh_installdocs:
	python3 build-doc.py
	dh_installdocs "build/sphinx" -p fabio-doc
	dh_installdocs

override_dh_sphinxdoc:
	dh_sphinxdoc -X searchtools.js

