
#List of dependencies used.
# PIP installs them from pre-compiled wheels, optimized for Github-CI Python environment.
--find-links http://www.edna-site.org/pub/wheelhouse

meson-python
wheel
numpy <1.19 ; python_version <= '3.5'
numpy <1.20 ; python_version <= '3.6'
numpy; python_version>= '3.6'
h5py
cython
Pillow
lxml>=4.6.3
